In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('prices.csv')
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')
df.head()

             EURMXN=X      MXN=X
Date
2020-01-01  21.230801  18.917400
2020-01-02  21.212900  18.898800
2020-01-03  21.046200  18.830299
2020-01-06  21.144400  18.944759
2020-01-07  21.097000  18.841450

In [ ]:
positions = np.array([2, 1])

In [ ]:
def var_es(data, positions, nc, long):